<div class="row">
  <div class="col-12">
    <h1>
      Soonest Courses
    </h1>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Course name</th>
        <th><%= sort_link @q, :date_start, 'Closest start date' %></th>
        <th>Students count</th>
        <th><!-- Subscription btns --></th>
      </tr>
      </thead>
      <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>
            <%= link_to group.course.name, course_path(group.course_id) %>
          </td>
          <td>
            <%= group.date_start %>
          </td>
          <td>
            <%= "#{group.students.size}/#{group.max_students}" %>
          </td>
          <td>
            <%= subscription_btn(group) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </div>
</div>
