<div class="row">
  <div class="col-12">
    <h1>
      <%= @course.name %>, <%= link_to 'Back', courses_path %>
    </h1>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th><%= sort_link @q, :date_start, 'Start date' %></th>
        <th><%= sort_link @q, :date_finish, 'Finish date' %></th>
        <th>Students count</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>
            <%= group.date_start %>
          </td>
          <td>
            <%= group.date_finish %>
          </td>
          <td>
            <%= "#{group.students.size}/#{group.max_students}" %>
          </td>
          <td>
            <%= subscription_btn(group) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>
      Participated students
    </h2>
    <h4>Emails are hidden for security reasons</h4>
    <%= render collection: @groups, partial: 'frontend/courses/show/students_list', as: :group %>
    <br>
  </div>
</div>

